{% extends "layout.html" %}
{% block title %}Test Редактирование БП{% endblock %}
{% block ActiveMenuEditBP %}class="active"{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='EditBP.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='LookBP.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='CreateGraph.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EditBP.css') }}"> 
{% endblock %}

{% block body %}
	<h1>Редактирование базы прецедентов</h1>

	<div id="EditTabDataDiv">
		<div class="TabDataHeader">
		
			<div class="progress-div" hidden>
				<progress id="ProgressBar" value="0" max="100" ></progress>
				<span class="progress-text">Загрузка</span>
			</div>
			
			<ul id="TabNav" class="nav nav-tabs">
			
				<li id=TableChoiceTab class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span>Выберите базу</span> 
						<b class="caret"></b>
					</a>
					
					<ul class="dropdown-menu">
						{% for Tab in TabList %}
							<li><a>{{ Tab }}</a></li>
						{% endfor %}
					</ul>
				</li>
			
			
				<li class="active"><a data-toggle="tab" href="#TabDataDiv">База прецедентов</a></li>
				<li><a data-toggle="tab" href="#DescrTabDataDiv">Описание параметров прецедентов</a></li>
				
			</ul>
		</div>
	
		<div class="tab-content">
		
			<div id="TabDataDiv" class="tab-pane fade in active">
				<div class="table_scroll">
					<table id="TabData" class="table table-striped table-bordered">
						<tbody>
							<tr>
								<th>Id</th><th>Existing_account</th><th>Duration</th><th>Credit_history</th>
								<th>Purpose</th> <th>Amount</th><th>Job</th><th>Customer</th>
							</tr>
							<tr>
								<td>0</td> <td>&lt;0_DM</td> <td>6</td> <td>Critical account</td>
								<td>Television</td> <td>1169</td> <td>Skilled</td> <td>Good</td>
							</tr>
							<tr>
								<td>1</td> <td>0&lt;=...&lt;200_DM</td> <td>48</td> <td>Paid back duly till now</td>
								<td>Television</td> <td>5951</td> <td>Skilled</td> <td>Bad</td>
							</tr>
							<tr>
								<td>2</td> <td>&gt;=200_DM</td> <td>12</td> <td>Critical account</td>
								<td>Education</td> <td>2096</td> <td>Unskilled</td> <td>Good</td>
							</tr>
							<tr>
								<td>3</td> <td>&lt;0_DM</td> <td>42</td> <td>Paid back duly till now</td>
								<td>Furniture</td> <td>7882</td> <td>Skilled</td> <td>Good</td>
							</tr>
							<tr>
								<td>4</td> <td>&lt;0_DM</td> <td>24</td> <td>Delay in paying</td>
								<td>Car (new)</td> <td>4870</td> <td>Skilled</td> <td>Bad</td>
							</tr>
							<tr>
								<td>5</td> <td>&gt;=200_DM</td> <td>36</td> <td>Paid back duly till now</td>
								<td>Education</td> <td>9055</td> <td>Unskilled</td> <td>Good</td>
							</tr>
							<tr>
								<td>6</td> <td>&gt;=200_DM</td> <td>24</td> <td>Paid back duly till now</td>
								<td>Furniture</td> <td>2835</td> <td>Skilled</td> <td>Good</td>
							</tr>
							<tr>
								<td>7</td> <td>0&lt;=...&lt;200_DM</td> <td>36</td> <td>Paid back duly till now</td>
								<td>Car (used)</td> <td>6948</td> <td>Skilled</td> <td>Good</td>
							</tr>
							<tr>
								<td>8</td> <td>&gt;=200_DM</td> <td>12</td> <td>Paid back duly till now</td>
								<td>Television</td> <td>3059</td> <td>Unskilled</td> <td>Good</td>
							</tr>
							<tr>
								<td>9</td> <td>0&lt;=...&lt;200_DM</td> <td>30</td> <td>Critical account</td>
								<td>Car (new)</td> <td>5234</td> <td>Skilled</td> <td>Bad</td>
							</tr>
							<tr>
								<td>10</td><td>0&lt;=...&lt;200_DM</td> <td>12</td> <td>Paid back duly till now</td>
								<td>Car (new)</td> <td>1295</td> <td>Skilled</td> <td>Bad</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div id="DescrTabDataDiv" class="tab-pane fade">
				<div class="table_scroll">
					<table id="DescrTabData" class="table table-striped table-bordered">
						<tbody>
							<tr>
								<th>Id</th><th>Параметр</th><th>Описание</th><th>Тип</th>
								<th>Единицы_измерения</th> <th>Диапазон_от</th><th>Диапазон_до</th><th>Вес</th>
							</tr>
							<tr>
								<td>0</td> <td>Existing_account</td> <td>Деньги на всех счетах клиента</td> <td>Текст</td>
								<td>---</td> <td>---</td> <td>---</td> <td>2</td>
							</tr>
							<tr>
								<td>1</td> <td>Duration</td> <td>Продолжительность кредита</td> <td>Целое число</td>
								<td>Месяц</td> <td>6</td> <td>120</td> <td>5</td>
							</tr>
							<tr>
								<td>2</td> <td>Credit_history</td> <td>Кредитная история</td> <td>Текст</td>
								<td>---</td> <td>---</td> <td>---</td> <td>8</td>
							</tr>
							<tr>
								<td>3</td> <td>Purpose</td> <td>Причина выдачи кредита</td> <td>Текст</td>
								<td>---</td> <td>---</td> <td>---</td> <td>5</td>
							</tr>
							<tr>
								<td>4</td> <td>Amount</td> <td>Сумма кредита</td> <td>Целое число</td>
								<td>Евро</td> <td>200</td> <td>1000000</td> <td>8</td>
							</tr>
							<tr>
								<td>5</td> <td>Job</td> <td>Работа клиента</td> <td>Текст</td>
								<td>---</td> <td>---</td> <td>---</td> <td>7</td>
							</tr>
							<tr>
								<td>6</td> <td>Customer</td> <td>Оценка клиента банком</td> <td>Текст</td>
								<td>---</td> <td>---</td> <td>---</td> <td>---</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
		<br>
		
		<ul class="nav nav-tabs Tools">
			<li class="active"><a data-toggle="tab" href="#WorkWithStrings">Работа со строками</a></li>
			<li><a data-toggle="tab" href="#WorkWithColumns">Работа со столбцами</a></li>
			<li><a data-toggle="tab" href="#WorkWithData">Работа с данными</a></li>
			<li><a data-toggle="tab" href="#WorkWithTable">Работа с таблицами</a></li>
			<li><a data-toggle="tab" href="#ImproveEfficiency">Повышение эффективности</a></li>
			<li><a data-toggle="tab" href="#WorkWithVertex">Работа с вершинами</a></li>
		</ul>

		<div class="tab-content Tools">
		
			<div id="WorkWithStrings" class="container-fluid tab-pane fade in active">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">Выделение строк</div>
						<div class="panel-body">
							<div class="panel-div">
								<span>
									<label for="Highlight1">Выделить/</label><label for="Highlight2">снять выделение</label> строк
								</span>
								
								<br><label class="radio-answer">
									<input type=radio class="form-check-input" name="Highlight" id="Highlight1" value="on" checked>
									Выделить строки
								</label>
									
								<br><label class="radio-answer">
									<input type=radio class="form-check-input" name="Highlight" id="Highlight2" value="off">
									Снять выделение строк
								</label>
							</div>
								
							<div class="panel-div">
								<label>
									Укажите диапазон выделения
									<br>
									<div class="div-inline-block">
										<input type=number class="form-control" id="HighlightFrom" placeholder="От">
									</div>
									<div class="div-inline-block">
										<input type=number class="form-control" id="HighlightTo" placeholder="До">
									</div>
								</label>
							</div>
							<br><input type="button" value="Выделить/снять выделение строк" class="btn btn-default btn-2line" id="HighlightStr">
						</div>
					</div>
				</div>
					
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">Случайное выделение строк</div>
						<div class="panel-body">
							<div class="panel-div">
								<label>
									Количество выделяемых строк
									<br><input type=number class="form-control" id="RandomHighlightCount">
								</label>
							</div>
								
							<div class="panel-div">
								<label>
									Укажите диапазон выделения
									<br>
									<div class="div-inline-block">
										<input type=number class="form-control" id="RandomHighlightFrom" placeholder="От">
									</div>
									<div class="div-inline-block">
										<input type=number class="form-control" id="RandomHighlightTo" placeholder="До">
									</div>
								</label>
							</div>
								
							<br><input type=button value="Выделить случайные строки" class="btn btn-default btn-2line" id="RandomHighlightStr">
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">Редактирование</div>
						<div class="panel-body">
							<div class="panel-div">
								<label>
									Количество строк
									<br><input type=number class="form-control" id="InsertStrCount">
								</label>
								<br><input type=button id="InsertManyStr" value="Добавить строки" class="btn btn-default">
							</div>

							<hr>
							
							<div class="div-inline-block">
								<button class="btn btn-default btn-2line" id="DeleteStr">Удалить выделенные<br/>строки</button>
							</div>
							<div class="div-inline-block">
									<button class="btn btn-default btn-2line" id="DeleteAllStr" style="margin-right: 0px;">Удалить все<br/>строки</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			
			<div id="WorkWithColumns" class="container-fluid tab-pane fade">
			
			<div class="row">
				<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">Создать новый столбец</div>
						<div class="container-fluid panel-body">
							
							<label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" for="NewColumnId">Имя столбца</label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input class="form-control" id=NewColumnId>
								</div>
							</div>
							
							<label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" for="NewColumnType">Тип данных</label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<select class="form-control" id=NewColumnType>
										<option value="INT">Целый</option> 
										<option value="DOUBLE">Вещественный</option> 
										<option value="VARCHAR(255)">Текст</option> 
										<option value="VARCHAR(255)">Другой</option> 
									</select>
								</div>
							</div>
							
							<label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" for="NewColumnDefault">Значение по умолчанию</label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input class="form-control" id=NewColumnDefault>
								</div>
							</div>
						
							<br><input name=DataEdit type=button value="Добавить столбец" class="btn btn-default" id="InsertColumn">
							<!-- <input name=DataEdit type=button value="Добавить столбец" class="btn btn-default" onclick="InsertColumn()"> -->
							<!-- <input name=DataEdit type=button value="Удалить столбец" class="btn btn-default" onclick="DeleteColumn()"> -->
							<!-- <input name=DataEdit type=button value="Поменять местами" class="btn btn-default" onclick="DeleteColumn()"> -->
						</div>
					</div>
				</div>
			</div>	
			</div>
			
			
			<div id="WorkWithData" class="container-fluid tab-pane fade">
			<div class="row">
			<div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">Импорт/экспорт данных</div>
					<div class="panel-body">

						<div class="div-inline-block left">
							<label for="ImportBP">Импортируемая БП</label>
							<br><label for="IdInFile">Колонка ID</label>
						</div>
					
						<div class="div-inline-block right">
							<div class="btn-file">
								<div id="ImportBP" class="btn btn-default btn-2line">
										<span>Выберите файл с БП</span>
										<input type="file" id="ImportBPFile">
								</div>
								<br><span class="btn-file-name"></span>
							</div>
							<br><input type=checkbox id="IdInFile">
						</div>
					
						
						<br><input type=button class="btn btn-default" value="Загрузить данные" id="AddDataFromFile">
						<hr>
						<form action="/ExportToFile" method="post" enctype="multipart/form-data">
						<div class="container-fluid">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<input type=submit name="ExportToFile" id="ExportBPToFile" class="btn btn-default btn-2line" value="Экспорт БП">
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<input type=submit name="ExportToFile" id="ExportTestSampleToFile" class="btn btn-default btn-2line" value="Экспорт тестовой выборки">
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<input type=submit name="ExportToFile" id="ExportTrainSampleToFile" class="btn btn-default btn-2line" value="Экспорт обучающей выборки">	
							</div>							
						</div>
						</div>
							<input type=text name="HiddenTableChoice" hidden>
							<input type=text name="HiddenTestSample" hidden>
						
						</form>
					</div>				
				</div>
			</div>
			</div>
			</div>
			
			<div id="WorkWithTable" class="container-fluid tab-pane fade">
			<div class="row">
			<div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">Работа с загруженными таблицами</div>
					<div class="panel-body">
						
							<ul id="TabSelect" class="list-group prokrutka">
								{% for i in TabList %}
									<a class="list-group-item">{{ i }}</a>
								{% endfor %}
							</ul>
						
						
						<div class="div-inline-block">
							<button class="btn btn-default" id="DeleteBP">Удалить<br/>выбранные БП</button>
						</div>
						<div class="div-inline-block">
							<button class="btn btn-default" id="RenameBP">Подтвердить<br/>переименование БП</button>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
		
			<div id="ImproveEfficiency" class="container-fluid tab-pane fade">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">Оптимизация БП</div>
						<div class="panel-body">
						
						<div class="container-fluid">
							
							<label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" for="OptAlgol">Способ сокращения БП</label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<select id="OptAlgol" class="form-control">
										<option value=Classification selected>Алгоритм классификации</option>
										<option value=KMeans>Алгоритм k-средних</option>				
										<option value=TimurAlgorithm>Алгоритм Тимура</option>
									</select>
								</div>
							</div>
						</div>
						
						<div id="DivClassification" class="container-fluid">
							<label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" for="ClassSimilarity">Степень сходства</label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input id='ClassSimilarity' maxlength="20" size="20" class="form-control">
								</div>
							</div>
							
							<label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" for="ClassMetric">Выбор метрики</label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<select id='ClassMetric' class="form-control">
										<option value=MetricL1>Метрика L1</option>
										<option value=MetricEuclid>Евклидова метрика</option>
										<option value=MetricChebyshev>Метрика Чебышева</option>
									</select>
								</div>
							</div>
						</div>
						
						
						<div id="DivKMeans" class="container-fluid" hidden>
							<label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" for="KMClusterCount">Количество кластеров</label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input id='KMClusterCount' maxlength="20" size="20" class="form-control">
								</div>
							</div>
							
							<label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" for="KMPrimaryCenter">Начальные кластеры</label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<select id='KMPrimaryCenter' class="form-control">
										<option value=Forgy>Метод Forgy</option>
										<option value=RandomPartitioning>Метод случайного разделения (Random Partitioning)</option>
										<option value=AnswerPartitioning>Метод ответного разделения</option>
									</select>
								</div>
							</div>
							
							<label class="col-lg-6 col-md-6 col-sm-6 col-xs-12" for="KMMetric">Выбор метрики</label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<select id='KMMetric' class="form-control">
										<option value=MetricL1>Метрика L1</option>
										<option value=MetricEuclid>Евклидова метрика</option>
										<option value=MetricChebyshev>Метрика Чебышева</option>
									</select>
								</div>
							</div>
						</div>
						
						
						
						
						
						
							<!-- <div class="div-inline-block left"> -->
								<!-- <label for="OptAlgol">Способ сокращения БП</label> -->
							<!-- </div> -->
							
							<!-- <div class="div-inline-block right"> -->
								<!-- <select id="OptAlgol" class="form-control"> -->
									<!-- <option value=Classification selected>Алгоритм классификации</option> -->
									<!-- <option value=KMeans>Алгоритм k-средних</option>				 -->
									<!-- <option value=TimurAlgorithm>Алгоритм Тимура</option> -->
								<!-- </select> -->
							<!-- </div> -->

							<!-- <div id="DivClassification"> -->
								<!-- <div class="div-inline-block left"> -->
									<!-- <label for="ClassSimilarity">Степень сходства</label> -->
									<!-- <br><label for="ClassMetric">Выбор метрики</label> -->
								<!-- </div> -->

								<!-- <div class="div-inline-block right"> -->
									<!-- <input id='ClassSimilarity' maxlength="20" size="20" class="form-control"> -->
									<!-- <br><select id='ClassMetric' class="form-control"> -->
										<!-- <option value=MetricL1>Метрика L1</option> -->
										<!-- <option value=MetricEuclid>Евклидова метрика</option> -->
										<!-- <option value=MetricChebyshev>Метрика Чебышева</option> -->
									<!-- </select> -->
								<!-- </div> -->
							<!-- </div> -->

							<!-- <div id="DivKMeans" hidden> -->
								<!-- <div class="div-inline-block left"> -->
									<!-- <label for="KMClusterCount">Количество кластеров</label> -->
									<!-- <br><label for="KMPrimaryCenter">Начальные кластеры</label> -->
									<!-- <br><label for="KMMetric">Выбор метрики</label> -->
								<!-- </div> -->

								<!-- <div class="div-inline-block right"> -->
									<!-- <input id='KMClusterCount' maxlength="20" size="20" class="form-control"> -->
									<!-- <br><select id='KMPrimaryCenter' class="form-control"> -->
										<!-- <option value=Forgy>Метод Forgy</option> -->
										<!-- <option value=RandomPartitioning>Метод случайного разделения (Random Partitioning)</option> -->
										<!-- <option value=AnswerPartitioning>Метод ответного разделения</option> -->
									<!-- </select> -->

									<!-- <br><select id='KMMetric' class="form-control"> -->
										<!-- <option value=MetricL1>Метрика L1</option> -->
										<!-- <option value=MetricEuclid>Евклидова метрика</option> -->
										<!-- <option value=MetricChebyshev>Метрика Чебышева</option> -->
									<!-- </select> -->
								<!-- </div> -->
							<!-- </div> -->
							<br><input type=button value="Повысить эффективность" class="btn btn-default" onclick="Optimization()">
						</div>
					</div>
				</div>
				
				
				<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">Индексация БП</div>
						<div class="panel-body">
						
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="table_scroll_small2">
									<table id="TabIndex" class="table table-striped table-bordered">
										<tbody>
											<tr>
												<th>Параметр</th>
												<th>Порядок индексации</th>
											</tr>
										</tbody>
									</table>
								</div>
							
								<br><input type=button value="Изменить индексацию" class="btn btn-default" onclick="ChangeBPIndex()">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			</div>
			
			<div id="WorkWithVertex" class="container-fluid tab-pane fade">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">Определение вершин</div>
						<div class="panel-body">
						
							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
								<div class="table_scroll_small">
									<table id="TabVertex" class="table table-striped table-bordered">
										<tbody>
											<tr>
												<th>Параметр</th>
												<th>Номер вершины</th>
												<th>Смежные_вершины</th>
											</tr>
										</tbody>
									</table>
								</div>
								
								<br><input type=button value="Изменить вершины" class="btn btn-default" onclick="ChangeBPVertex()">
							</div>
							
	
							
							<div id="GraphDiv" class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
								<canvas id="Graph" width="1000px" height="400px">
								</canvas>
								
								<!-- <br><input type="button" id="ShowAdjMatrix" value="Вывести матрицу" class="btn btn-default"> -->
								<br><input type="button" id="SaveAdjMatrix" value="Сохранить граф" class="btn btn-default">
								<input type="button" id="ClearCanvas" value="Очистить канвас" class="btn btn-default">
								
								<!-- <table id="AdjMatrix"> -->
									<!-- <tbody> -->
									<!-- </tbody> -->
								<!-- </table> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			
			</div>
			
		</div>
	</div>

{% endblock %}