{% block scripts %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
	<script type="text/javascript" src="{{ url_for('static', filename='registration.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registration.css') }}">
	
{% endblock %}

{% block body %}
  <!-- <h2>Login</h2> -->
  <!-- {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} -->
  <!-- <form action="{{ url_for('Registration.login') }}" method=post> -->
    <!-- <dl> -->
      <!-- <dt>Username: -->
      <!-- <dd><input type=text name=username> -->
      <!-- <dt>Password: -->
      <!-- <dd><input type=password name=password> -->
      <!-- <dd><input type=submit value=Login> -->
    <!-- </dl> -->
  <!-- </form> -->

  <div id="tab">
  	<div id = "mistake_message" class="alert alert-danger" role="alert" style="width: 800px align: center" hidden> 
		<strong>Ошибка!</strong>
	</div>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tabSignIn" data-toggle="tab">Вход</a></li>
			<li><a href="#tabSignUp" data-toggle="tab">Регистрация</a></li>
		</ul>
		<div class="tab-content">

			<div class="tab-pane active fade in active" id="tabSignIn">
				<div id="row1" class="row col-md-12 col-sm-12 col-xs-12 col-12">
					<div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-offset-3 col-md-6 col-sm-6 col-xs-6 col-6">
					 {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
						<form action="{{ url_for('Registration.login') }}" method=post>
							<fieldset>
								<div class="form-group col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
									<label for="inputLogin" class="control-label col-md-12 col-sm-12 col-xs-12 col-12">Имя</label>
									<input type="login" class="form-control" id="inputLogin" placeholder="Введите имя">
								</div>
								<div id = "input_password" class="form-group col-offset-2 col-xs-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
									<label for="inputPassword" class="control-label col-md-12 col-sm-12 col-xs-12 col-12">Пароль</label>
									<!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password"> -->
									<div class="input-group">	
									 	<input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль">
									 	<span class="input-group-addon glyphicon glyphicon-eye-close pass_mode"></span>
									</div>
								</div>
								<div id = "secret_word_div" class="form-group col-offset-2 col-xs-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
									<label for="secret_word" class="control-label col-md-12 col-sm-12 col-xs-12 col-12">Секретное слово</label>
									<!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password"> -->
									<div class="input-group">	
									 	<input type="password" class="form-control" id="secret_word" placeholder="Введите секретное слово">
									 	<span class="input-group-addon glyphicon glyphicon-eye-close pass_mode"></span>
									</div>
								</div>
								<div class="form-group col-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
									<div class="col-md-12 col-sm-12 col-xs-12 col-12">
										<div id = "checkbox_button" class="checkbox ">
											<label><input type="checkbox">Запомнить</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
										<button type="button" id="signInbutton" class="center-block btn btn-primary col-md-12 col-sm-12 col-xs-12 col-12">Войти</button>
									</div>
								</div>
								<div class="form-group col-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
 									<button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-12" id="forgot-pass">Не помню пароль</button>
 								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			
			<div class="tab-pane fade" id="tabSignUp">
				<div id="row1" class="row col-md-12 col-sm-12 col-xs-12 col-12">

					<div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-offset-3 col-md-6 col-sm-6 col-xs-6 col-6">
						<form>
							<fieldset>
								<div class="form-group col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
									<label for="inputLogin2" class="control-label col-md-12 col-sm-12 col-xs-12 col-12">Имя</label>
									<input type="login" class="form-control" id="inputLogin2" placeholder="Введите имя" data-toggle="tooltip" data-placement="right" title="Максимальная длина: 32 символа">
								</div>
								<div id = "input_password_2" class="form-group col-offset-2 col-xs-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
									<label for="inputPassword2" class="control-label col-md-12 col-sm-12 col-xs-12 col-12">Пароль</label>
									<div class="input-group">	
									 	<input type="password" class="form-control" id="inputPassword2" placeholder="Введите пароль">
									 	<span class="input-group-addon glyphicon glyphicon-eye-close pass_mode"></span>
									</div>
								</div>

								<div id = "confirm_password" class="form-group col-offset-2 col-xs-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
									<label for="confirmPassword" class="control-label col-md-12 col-sm-12 col-xs-12 col-12">Повтор пароля</label>
									<!-- <input type="confirm password" class="form-control" id="confirmPassword" placeholder="Confirm password"> -->
									<div class="input-group">	
									 	<input type="password" class="form-control" id="confirmPassword" placeholder="Повторите пароль">
									 	<span class="input-group-addon glyphicon glyphicon-eye-close pass_mode"></span>
									</div>
								</div>

								<div id = "secret_word" class="form-group col-offset-2 col-xs-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
									<label for="secretWord" class="control-label col-md-12 col-sm-12 col-xs-12 col-12">Секретное слово</label>
									<div class="input-group">	
									 	<input type="password" class="form-control" id="secretWord" placeholder="Введите секретное слово">
									 	<span class="input-group-addon glyphicon glyphicon-eye-close pass_mode"></span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-8 col-sm-8 col-xs-8 col-8">
										<button type="button" id="signUpbutton" class="center-block btn btn-primary col-md-12 col-sm-12 col-xs-12 col-12">Зарегистрироваться</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
		<footer id='Footer'>
		<hr>
		НИУ МЭИ, 2020
	</footer>