<form action="{{ url_for('MachLearn.show_precedents_table_param') }}" id="select_form_param">
	<div class="form-row">
		
		<div class="form-group col-md-3">
			<select name="BP_names_list_param" id="BP_names_list_param" class="form-control">
				
				{% if current_BP_name_param %}
					<option selected value={{ current_BP_name_param }}>{{ current_BP_name_param }}</option>
				{% else %}
					<option selected disabled value="">Выберите базу прецедентов</option>
				{% endif %}
				
				{% for BP_name in BP_names_tupple %}
					<option value={{ BP_name[0] }}>{{ BP_name[0] }}</option>
				{% endfor %}
				
			</select>
		</div>
		
		<div class="form-group col-md-3">
			<select name="mode_choice_param" id="mode_choice_param" class="form-control">
				
				{% if mode_of_BP %}
					<option selected value={{ mode_of_BP.value }}>{{ mode_of_BP.text }}</option>
				{% else %}
					<option selected disabled value="">Выберите часть базы для просмотра</option>
				{% endif %}
				
				{% for mode in modes_list %}
					{% if mode.value in ["train", "test"] %}
						<option value={{ mode.value }}>{{ mode.text }}</option>
					{% endif %}
				{% endfor %}
				
			</select>
		</div>
		
		<div class="form-group col-md-6">
			<input type="submit" value="Показать содержимое" disabled id="show_table_param_button" class="btn btn-default">
		</div>
		
	</div>
	
</form>

<br/>

<div id="table_div_param">

</div>

<div id="add_cases_from_file_div_param" hidden>
	<form id="add_cases_from_file" enctype="multipart">
		<hr/>
		<p>Загрузка случаев из файла</p>
		<p><input type="file" name="cases_file" id="cases_file"></p>
		<input type="button" value="Загрузить случаи" id="load_cases_from_file_button" class="btn btn-default">
		<!-- CreateSchemeFromFile(this, this.files.length) -->
		<hr/>
	</form>
</div>
<script>
<!-- $("#cases_file").on("change", function(event) { -->
    <!-- var i = 0, -->
        <!-- files = $(this).files, -->
        <!-- len = files.length; -->
    <!-- for (; i < len; i++) { -->
        <!-- console.log("Filename: " + files[i].name); -->
        <!-- console.log("Type: " + files[i].type); -->
        <!-- console.log("Size: " + files[i].size + " bytes"); -->
		<!-- console.log(files[i]) -->
    <!-- } -->
 
<!-- }); -->
</script>
<div id="add_cases_div_param">

</div>