<div class="table_scroll_13">
<table class="table table-striped table-bordered" id="add_cases_table">
	<thead>
		<tr>
			{% if table_columns_description_tuples_without_modes %}
				<th>{{table_columns_description_tuples_without_modes[0][0]}}</th>
				{% for i in table_columns_description_tuples_without_modes[1: table_columns_description_tuples_without_modes|length - 1] %}
					<th>{{ i[0] }}&nbsp;({{ i[1] }}&nbsp;{{ parametrs_range_description_tuples[loop.index-1] }})</th>
				{% endfor %}
			{% endif %}
		</tr>
	</thead>
	<tbody>
		<tr>
			{% if table_columns_description_tuples_without_modes %}
				<td>1</td>
				{% for i in table_columns_description_tuples_without_modes[1: table_columns_description_tuples_without_modes|length-1] %}
					<td contenteditable>0</td>
				{% endfor %}
			{% endif %}
		</tr>
	</tbody>
</table>
</div>

<input type="submit"  value="Добавить новый случай для классификации" id="add_case_button" class="btn btn-default" onclick="javascript: add_row_to_add_table()">
<input type="button" value="Удалить последний случай" id="remove_case_button" class="btn btn-default" onclick="javascript: remove_row_to_add_table()">

<br/>
<hr/>

<form name="classification_form" id="classification_form" action="{{ url_for('MachLearn.extraction_for_good_bad') }}">
	<div class="form-row">
		
		<div class="form-group col-md-3">
		
			<p>Выбор алгоритма</p>
			<select id="name_of_algorithm" name="name_of_algorithm" class="form-control">
				<option value="kNN">Метод k-ближайших соседей</option>
			</select>
		</div>
		
		<div class="form-group col-md-3">
			<p>Количество соседей (k)</p>
			<input name="neighbour_count" id="neighbour_count" value="1" class="form-control">
		</div>
			
		<div class="form-group col-md-3">
			<p>Выбор метрики</p>
			<select id="metric_name" name="metric_name" class="form-control">
				<option value="metric_L1">Метрика L1</option>
				<option value="metric_Euclid">Евклидова метрика</option>
				<option value="metric_Chebyshev">Метрика Чебышева</option>
			</select>
		</div>
		
		<div class="form-group col-md-3">
			<p>Учитывать веса параметров</p>
			<input type="checkbox" checked id="use_weights" class="form-control">
		</div>
	
	</div>
	
	<input id="field_to_remember_cases" name="field_to_remember_cases" hidden>
	<input id="hidden_database_name_input" name="hidden_database_name_input" value="{{ chosen_database_name }}" hidden>
	<input id="field_to_remember_checkbox" name="field_to_remember_checkbox" value="on" hidden>
	
	<input id="do_classification" name="do_classification" type="submit" value="Извлечение" class="btn btn-default">

</form>

<hr/>

<div id="answer_of_classif"></div>

<script>
	
	function remember_cases(){
		var field_to_remember_cases;
		for (i = 0; i < $("#add_cases_table tbody tr").length; i++) {
			field_to_remember_cases = "";
			for (j = 0; j< $("#add_cases_table tbody tr:first td").length; j++) {
				field_to_remember_cases += $("#add_cases_table tbody tr:eq({0}) td:eq({1})".format(i, j)).html();
				field_to_remember_cases += ";";
			}

			field_to_remember_cases = field_to_remember_cases.slice(0, -1);

			tempval = $("#field_to_remember_cases").val();

			if (tempval == "")
				$("#field_to_remember_cases").val("{0}".format(field_to_remember_cases));
			else
				$("#field_to_remember_cases").val("{0}|{1}".format(tempval, field_to_remember_cases));
		}

	}

	function is_numeric(n){
		return !isNaN(parseFloat(n)) && isFinite(n);
	}

	
	function add_row_to_add_table(){
		var table_for_add = document.getElementById("add_cases_table");
		var new_row = table_for_add.insertRow(table_for_add.rows.length);
		var id = 0;
		var new_id;
	
		{% for j in range(0, (table_columns_description_tuples_without_modes| length)-1) %}
			var new_cell = new_row.insertCell(new_row.length);
			new_cell.setAttribute('contenteditable','true');
			new_cell.append('0');
	
			if (id == 0){
				new_id = Number(table_for_add.rows[table_for_add.rows.length-2].cells[0].innerHTML);
				if (is_numeric(new_id) == true)
					new_id++;
				else
					new_id = 1;
				new_cell.innerHTML = new_id;
				id++;
			}
			new_cell.height = 40;
		{% endfor %}
	
		return new_id;
	}
	
	function remove_row_to_add_table(){
		if ($("#add_cases_table tbody tr").length > 1)
			$("#add_cases_table tr:last").remove();
	}

</script>