<div class="table_scroll">
	<table class="table table-striped table-bordered">
		
		<thead>
			<tr>
				{% if table_columns_description_tuples_without_modes %}
					<th>{{table_columns_description_tuples_without_modes[0][0]}} </th>
					{% for str in table_columns_description_tuples_without_modes[1:] %}
						<th>{{ str[0] }}</th>
					{% endfor %}
				{% endif %}
			</tr>
		</thead>
		
		<tbody>
		{% for str in precedents_matrix %}
			<tr>
				{% for i in str %}
					<td>{{ i }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
		
	</table>
</div>

<br>

<div class="radio-group">
	<p><input type="radio" name="radio_cases_param" id="precedents_from_table_param" value="precedents_from_table_param" disabled> Выбрать прецеденты из таблицы</p>
	<p><input type="radio" name="radio_cases_param" id="cases_from_table_param" value="cases_from_table_param" disabled> Выбрать классифицируемые данные из таблицы</p>
	<p><input type="radio" name="radio_cases_param" id="cases_from_keyboard_param" value="case_from_keyboard"> Ввести классифицируемые данные с клавиатуры</p>
	<p><input type="radio" name="radio_cases_param" id="cases_from_file_param" value="cases_from_file"> Взять классифицируемые данные из файла</p>
</div>